* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;

  /* Animation settings */
  animation: zoomInOut 4s ease-in-out infinite;
}

/* Keyframes for zoom in and out effect */
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
