<div class="container">
  <form [formGroup]="loginForm" class="login">
    <label for="email"
      >Email
      <input type="email" name="email" id="email" formControlName="email" />
    </label>
    <label for="password"
      >Password
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
      />
    </label>
    <button type="submit">Login</button>
    <p>New to app?</p>
    <a routerLink="/register">Register here</a>
  </form>
</div>